<h1> Hola Universo🌌 </h1>

<ol>
  <li> <%= render "exercises/ex0" %> </li>
  <li> <%= render "exercises/ex1" %> </li>
  <li> <%= render "exercises/ex2" %> </li>
  <li> <%= render "exercises/ex3" %> </li>
  <li> <%= render "exercises/ex4" %> </li>
  <li> <%= render "exercises/ex5" %> </li>
</ol>
